    <%= form_with model: @user, local: true do |f| %>
      <%= render 'shared/error_messages' %>

      <% if params[:controller] == 'users' && params[:action] == 'edit' %>
        <div class="py-4 flex items-center">
          <div class="pb-2">
            <%= f.label :avatar, class: 'text-xs font-bold' do %>
              <%= image_tag user_avatar_url(f.object, size: 100), class: 'p-1 h-24 w-24 rounded-full border' %>
            <% end %>
          </div>
          <div class="ml-4">
            <%= f.file_field :avatar %>
          </div>
        </div>
      <% end %>


      <div class="pb-4 flex flex-col">
        <span class="pb-2">
          <%= f.label :name, class: 'text-xs font-bold' %>
        </span>
        <%= f.text_field :name, placeholder: 'Name...', class: 'px-3 py-2 w-full placeholder-gray-800 rounded-lg border bg-gray-300 focus:shadow-md focus:border-gray-500' %>
      </div>

      <div class="pb-4 flex flex-col">
        <span class="pb-2">
          <%= f.label :email, class: 'text-xs font-bold' %>
        </span>
        <%= f.email_field :email, placeholder: 'Email...', class: 'px-3 py-2 w-full placeholder-gray-800 rounded-lg border bg-gray-300 focus:shadow-md focus:border-gray-500' %>
      </div>

      <div class="pb-4 flex flex-col">
        <span class="pb-2">
          <%= f.label :password, class: 'text-xs font-bold' %>
        </span>
        <%= f.password_field :password, placeholder: 'Password...', class: 'px-3 py-2 w-full placeholder-gray-800 rounded-lg border bg-gray-300 focus:shadow-md focus:border-gray-500' %>
      </div>

      <div class="pb-4 flex flex-col">
        <span class="pb-2">
          <%= f.label :password_confirmation, class: 'text-xs font-bold' %>
        </span>
        <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation',class: 'px-3 py-2 w-full placeholder-gray-800 rounded-lg border bg-gray-300 focus:shadow-md focus:border-gray-500' %>
      </div>

      <div class="pt-3">
        <%= f.submit yield(:button_text), class: 'px-3 py-2 bg-teal-600 leading-none text-white rounded-lg shadow-lg hover:bg-teal-700 cursor-pointer uppercase tracking-tighter' %>
      </div>
    <% end %>


