<% provide :title, @user.name %>
<div class="pt-4">
  <div class="block md:flex p-3 md:p-0">
    <aside class="flex flex-col">
      <section class="user_info flex items-center">
        <div class="">
          <%= image_tag user_avatar_url(@user, size: 100), class: 'object-cover p-1 rounded-full border' %>
        </div>
        <h1 class="pl-3 text-xl font-bold leading-tight tracking-tight"><%= @user.name %></h1>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>

    <div class="md:pl-6 w-full">
      <%= render 'follow_form' if logged_in? %>
      <% if @user.microposts.any? %>
        <h3 class="text-xl pt-2 font-bold border-b">Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <div class="my-2">
          <%= will_paginate @microposts %>
        </div>
      <% end %>
    </div>
  </div>
</div>
