<header class="bg-gray-800 text-white">
  <div class="max-w-screen-lg mx-auto">
    <div class="flex justify-between items-center">
      <div class="">
        <%= link_to 'Sample App', root_path, id: 'logo', class: 'inline-block no-underline py-2 text-2xl font-bold hover:text-gray-200' %>
      </div>

      <nav class="flex items-center">
        <%= link_to 'Home', root_path, class: 'ml-2 inline-block px-3 py-1 rounded-lg underline text-white hover:bg-gray-800 hover:no-underline' %>
        <%= link_to 'Help', help_path, class: 'ml-2 inline-block px-3 py-1 rounded-lg underline text-white hover:bg-gray-800 hover:no-underline' %>
        <% if logged_in? %>

          <%= link_to 'Users', users_path, class: 'ml-2 inline-block px-3 py-1 rounded-lg underline text-white hover:bg-gray-800 hover:no-underline' %>
          <div class="ml-3 relative" data-controller="dropdown">
            <div>
              <button class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-white transition duration-150 ease-in-out" data-action="click->dropdown#toggle click@window->dropdown#hide">
                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyjhchbfawqiojeymdd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
              </button>
            </div>
            <div class="origin-top-right hidden absolute right-0 mt-2 w-48 rounded-md shadow-lg" data-target="dropdown.menu">
              <div class="py-1 rounded-md bg-white shadow-xs">
                <%= link_to 'Profile', current_user, class:"block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" %>
                <%= link_to 'Settings', edit_user_path(current_user), class:"block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out" %>
                <span class="block mb-1 border-b"></span>
                <%= link_to 'Log out', logout_path, method: :delete, class:"block px-4 py-2 text-sm leading-5 text-gray-700 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 transition duration-150 ease-in-out"%>
              </div>
            </div>
          </div>

        <% else %>

          <%= link_to 'Login', login_path, class: 'ml-2 inline-block px-3 py-1 rounded-lg underline text-white hover:bg-gray-800 hover:no-underline' %>

        <% end %>
      </nav>
    </div>
  </div>
</header>

