<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
 </head>

 <body class="font-sans text-gray-900">
   <%= render 'layouts/header' %>
   <div class="max-w-screen-lg mx-auto">
     <%= yield %>
   </div>
   <%= render 'layouts/footer' %>
 </body>
</html>
